perlcode my ($month, $day, $time, $host_name, @message) = split(/\s+/);

watchfor /FAILED su for root/
        exec echo "Subject:FAILED su for root on $host_name\n\n$_\n" | sendmail "{{ email_to }}"

