perlcode my ($month, $day, $time, $host_name, @message) = split(/\s+/);

watchfor /exited/
        exec echo "Subject:SWATCH Found An Exited Container On $host_name\n\n$_\n" | sendmail "False"

ignore /404/

watchfor /Rendered/
       	exec /usr/local/bin/slack-swatch.sh '$_' bug
	threshold track_by=routing_error.erb, type=limit, count=1, seconds=10800

watchfor /\^(?!Rendered\b).*\b(?i:error)\b/
       	exec /usr/local/bin/slack-swatch.sh '$_' bangbang
	threshold track_by=routing_error.erb, type=limit, count=1, seconds=10800



