#!/bin/bash
ERROR=$1
ICON=$2
curl -X POST --data-urlencode 'payload={"channel": "swatch", "username": "swatchbot", "text": " Swatch error from : _'$HOSTNAME'_ : `'"'$ERROR'"'` ", "icon_emoji": "':$ICON:'"}' \
{{ swatch_slack_webhook_url }}
