#!/bin/bash
ERROR=$1
curl -X POST --data-urlencode 'payload={"channel": "{{ slack_swatch_channel }}", "username": "{{ slack_swatch_username }}", "text": "{{ slack_swatch_error_text }}", "icon_emoji": "{{ slack_swatch_icon }}"}' \ 
{{ slack_swatch_webhook_url }}
