#!/bin/bash
### BEGIN INIT INFO
# Provides:          {{ item.name }}
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: {{ item.name }}
# Description:       {{ item.name }}
### END INIT INFO

start()
{
/usr/bin/swatch --config-file=/etc/swatch/{{ item.name }}.conf --tail-file={{ item.tail }} --pid-file=/var/run/swatch-{{ item.name }}.pid --daemon > /dev/null >&1
}

stop()
{
PID=`cat /var/run/swatch-{{ item.name }}log.pid`
kill $PID
}

case $1 in
start)
start
exit 0
;;
stop)
stop
exit 0
;;
restart)
stop
sleep 2
start
exit 0
;;
*)
echo "Usage: $0 { start | stop | restart }"
exit 1
;;
esac
