perlcode my ($month, $day, $time, $host_name, @message) = split(/\s+/);

{% for string in item.string %}

        watchfor /{{ string }}/

{% for action in item.actions %}
	{{ action }}
{% endfor %}

{% endfor %}
