perlcode my ($month, $day, $time, $host_name, @message) = split(/\s+/);

ignore /{{ item.toignore }}/

{% for watchfor in item.watchfor %}
watchfor /{{ watchfor.string }}/
{% for actions in watchfor.actions %}
	{{ actions.action }}
	{{ actions.threshold }}
{% if not loop.last %}continue{% endif %}

{% endfor %}
{% endfor %}

