perlcode my ($month, $day, $time, $host_name, @message) = split(/\s+/);

{% for abc in item.watchfor %}
watchfor /{{ abc.email_string }}/
	{{ abc.email_action }}
    {% if abc.email_threshold %}
        {{ abc.email_threshold }}
    {% endif %}
    {% if abc.slack_string %}
continue
        {{ abc.slack_string }}
    {% endif %}
    {% if abc.slack_action %}
        {{ abc.slack_action }}
    {% endif %}
    {% if abc.slack_threshold %}
        {{ abc.slack_threshold }}
    {% endif %}
{% endfor %}
