perlcode my ($month, $day, $time, $host_name, @message) = split(/\s+/);

watchfor /EXT4-fs warning/
        exec echo "Subject:SWATCH Found Disk Errors on $host_name\n\n$_\n" | sendmail "{{ swatch_email_to }}"
watchfor /e2fsck/
        exec echo "Subject:SWATCH Found Disk Errors on $host_name\n\n$_\n" | sendmail "{{ swatch_email_to }}"
watchfor /mounting fs with errors/
        exec echo "Subject:SWATCH Found Disk Errors on $host_name\n\n$_\n" | sendmail "{{ swatch_email_to }}"
watchfor /Buffer I\/O error/
        exec echo "Subject:SWATCH Found Disk Errors on $host_name\n\n$_\n" | sendmail "{{ swatch_email_to }}"
watchfor /error|ERROR/
       exec /usr/local/bin/slack-swatch.sh '$_'
