check process swatch.auth.log with pidfile /var/run/swatch-authlog.pid
  start program = "/etc/init.d/swatch_auth.log start"
  stop program  = "/etc/init.d/swatch_auth.log stop"
  if 5 restarts within 5 cycles then alert

